<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th >Price</th>
                    <th scope="col">Action</th>
                    <th scope="col">Checkout</th>

                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                   
                    <td><img style= "width:70px;height:70px"src="/product-images/{{this.product._id}}.jpg" alt="img" ></td>
                    <td>{{this.product.Name}}</td> 
                    <td>Rs.{{this.product.Price}}</td>
                   
                    
                    
                    <td>
                        <button class="cart-item-count btn btn-danger remove" onclick="deleteQuantity('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>
                    <td>
                         <a class="btn btn-danger" onclick="addToCart('{{product._id}}')" href="/cart">To Cart</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        {{!-- <h4 class="float-right pl-2 pt-3 pr-4">Total:Rs. <span id="total">{{totalValue}}</span></h4>
        <a href="/checkout" class="float-right btn btn-success mt-3">Place Order</a> --}}
        
    </div>
</section>

<script>
 function deleteQuantity(wishlistId,proid){
       // let quantity=parseInt(document.getElementById(proid).innerHTML)
       // count=parseInt(count)

        $.ajax({
            url:'/delete-wish-quantity',
            data:{
                wishlist:wishlistId,
                product:proid,
                //count:count,
                //quantity:quantity
            },
            method:'post',
            success:(response)=>{
               // if(response.removeProduct){
              // ยง"product removed from cart")
              alert("product removed")
               location.reload()

               // }
            }
        })
    }
    </script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 


