 <div class="page-shop u-s-p-t-80">
        <div class="container">
            <!-- Shop-Intro -->
            <div class="shop-intro">
                <h3>Women's Clothing</h3>
            </div>
            <!-- Shop-Intro /- -->
            <div class="row">
                <!-- Shop-Left-Side-Bar-Wrapper -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <!-- Fetch-Categories-from-Root-Category  -->
                    <div class="fetch-categories">
                        <h3 class="title-name">Browse Categories</h3>
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Tops
                                <span class="total-fetch-items">(5)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">T-Shirts
                                    <span class="total-fetch-items">(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Hoodies
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Suits
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Black Bean T-Shirt
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Outwear
                                <span class="total-fetch-items">(3)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">Jackets
                                    <span class="total-fetch-items">(3)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Trench
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Parkas
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Sweaters
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Accessories
                                <span class="total-fetch-items">(1)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">Watches
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Ties
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Scarves
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Belts
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Bottoms
                                <span class="total-fetch-items">(2)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">Casual Pants
                                    <span class="total-fetch-items">(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shoes
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Jeans
                                    <span class="total-fetch-items">(1)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shorts
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Underwear
                                <span class="total-fetch-items">(0)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">Boxers
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Briefs
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Robes
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Socks
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                        <!-- Level-2 -->
                        <h3 class="fetch-mark-category">
                            <a href="#">Sunglasses
                                <span class="total-fetch-items">(2)</span>
                            </a>
                        </h3>
                        <!-- Level-2 /- -->
                        <!-- Level-3 -->
                        <ul>
                            <li>
                                <a href="#">Pilot
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Wayfarer
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Square
                                    <span class="total-fetch-items">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Round
                                    <span class="total-fetch-items">(2)</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Level-3 /- -->
                    </div>
                    <!-- Fetch-Categories-from-Root-Category  /- -->
                </div>
                <!-- Shop-Left-Side-Bar-Wrapper /- -->
                <!-- Shop-Right-Wrapper -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <!-- Page-Bar -->
                    <div class="page-bar clearfix">
                        <div class="shop-settings">
                            <a id="list-anchor" class="active">
                                <i class="fas fa-th-list"></i>
                            </a>
                            <a id="grid-anchor">
                                <i class="fas fa-th"></i>
                            </a>
                        </div>
                        <!-- Toolbar Sorter 1  -->
                        <div class="toolbar-sorter">
                            <div class="select-box-wrapper">
                                <label class="sr-only" for="sort-by">Sort By</label>
                                <select class="select-box" id="sort-by">
                                    <option selected="selected" value="">Sort By: Best Selling</option>
                                    <option value="">Sort By: Latest</option>
                                    <option value="">Sort By: Lowest Price</option>
                                    <option value="">Sort By: Highest Price</option>
                                    <option value="">Sort By: Best Rating</option>
                                </select>
                            </div>
                        </div>
                        <!-- //end Toolbar Sorter 1  -->
                        <!-- Toolbar Sorter 2  -->
                        <div class="toolbar-sorter-2">
                            <div class="select-box-wrapper">
                                <label class="sr-only" for="show-records">Show Records Per Page</label>
                                <select class="select-box" id="show-records">
                                    <option selected="selected" value="">Show: 8</option>
                                    <option value="">Show: 16</option>
                                    <option value="">Show: 28</option>
                                </select>
                            </div>
                        </div>
                        <!-- //end Toolbar Sorter 2  -->
                    </div>
                    <!-- Page-Bar /- -->
                    <!-- Row-of-Product-Container -->
                    <div class="row product-container list-style">
                        <div class="product-item col-lg-4 col-md-6 col-sm-6">
                            {{#each products}}
                            <div class="item">
                                <div class="image-container">
                                    <a class="item-img-wrapper-link" href="#">
                                        <img class="img-fluid" src="/product-images/{{this._id}}.jpg" alt="Product">
                                    </a>
                                    <div class="item-action-behaviors">
                                        <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                                        <a class="item-mail" href="javascript:void(0)">Mail</a>
                                        <a class="item-addwishlist" href="/add-to-wishlist/{{this._id}}">Add to Wishlist</a>
                                        <a class="item-addCart" onclick="addToCart('{{this._id}}')" href="#"></a>
                                {{!-- <button onclick
                                    </div>
                                </div>
                                <div class="item-content">
                                    <div class="what-product-is">
                                        <ul class="bread-crumb">
                                            <li class="has-separator">
                                                <a href="#">{{this.Category}}</a>
                                            </li>
                                            {{!-- <li class="has-separator">
                                                <a href="#">Tops</a>
                                            </li>
                                            <li>
                                                <a href="#">Hoodies</a>
                                            </li> --}}
                                        </ul>
                                        <h6 class="item-title">
                                            <a href="#">{{this.Name}}</a>
                                        </h6>
                                        <div class="item-description">
                                            <p>This hoodie is full cotton. It includes a muff sewn onto the lower front, and (usually) a drawstring to adjust the hood opening. Throughout the U.S., it is common for middle-school, high-school, and college students to wear this sweatshirts—with or without hoods—that display their respective school names or mascots across the chest, either as part of a uniform or personal preference.
                                            </p>
                                        </div>
                                        <div class="item-stars">
                                            <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                                <span style='width:67px'></span>
                                            </div>
                                            <span>(23)</span>
                                        </div>
                                    </div>
                                    <div class="price-template">
                                        <div class="item-new-price">
                                            Rs.{{this.Price}}
                                        </div>
                                        {{!-- <div class="item-old-price">
                                            $60.00
                                        </div> --}}
                                    </div>
                                </div>
                                <div class="tag new">
                                    <span>NEW</span>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        
                    </div>
                    <!-- Row-of-Product-Container /- -->
                </div>
                <!-- Shop-Right-Wrapper /- -->
                <!-- Shop-Pagination -->
                <div class="pagination-area">
                    <div class="pagination-number">
                        <ul>
                            <li style="display: none">
                                <a href="#" title="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li>
                                <a href="#">10</a>
                            </li>
                            <li>
                                <a href="#" title="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Shop-Pagination /- -->
            </div>
        </div>
    </div>